{{! footer partial }}
<footer class="footer">
  <div class="ruby-icon">
    <img src="{{asset "images/ruby.png"}}"/>
  </div>
  <section class="credits">
    <a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}</section>
  </section>
  <section class="social">
    <a href="{{@blog.url}}">Twitter</a> /
    <a href="{{@blog.url}}">Github</a> /
    <a href="{{@blog.url}}">Linkedin</a> 
  </section>
</footer>