{{! This is the post loop - each post will be output using this markup }}
{{#foreach posts}}
<article class="{{post_class}}">
  <div class="post-header">
    <div class="post-tag"></div>
    <h2 class="post-title">
      <a class="post-link" href="{{url}}">{{{title}}}</a> <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}"><b>#</b> {{date format="MMMM"}}</time> 
    </h2>
  </div>
  <section class="post-excerpt">
    <p>{{excerpt words="45"}}... <a class="read-more" href="{{url}}"> Read.more</a></p>
  </section>
</article>
{{/foreach}}

{{! Previous/next page links - displayed on every page }}
{{pagination}}