<!DOCTYPE html>
<html>
<head>
  {{! Document Settings }}
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  {{! Page Meta }}
  <title>{{meta_title}}</title>
  <meta name="description" content="{{meta_description}}" />

  {{! Responsive on mobile }}
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="shortcut icon" href="{{asset "images/favicon.ico"}}">
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{asset "images/apple-touch-icon-57x57.png" }}" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{asset "images/apple-touch-icon-114x114.png" }}" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{asset "images/apple-touch-icon-72x72.png" }}" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{asset "images/apple-touch-icon-144x144.png" }}" />
  <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{{asset "images/apple-touch-icon-60x60.png" }}" />
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{asset "images/apple-touch-icon-120x120.png" }}" />
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{asset "images/apple-touch-icon-76x76.png" }}" />
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{asset "images/apple-touch-icon-152x152.png" }}" />
  <link rel="icon" type="image/png" href="{{asset "images/favicon-196x196.png" }}" sizes="196x196" />
  <link rel="icon" type="image/png" href="{{asset "images/favicon-96x96.png" }}" sizes="96x96" />
  <link rel="icon" type="image/png" href="{{asset "images/favicon-32x32.png" }}" sizes="32x32" />
  <link rel="icon" type="image/png" href="{{asset "images/favicon-16x16.png" }}" sizes="16x16" />
  <link rel="icon" type="image/png" href="{{asset "images/favicon-128.png" }}" sizes="128x128" />

  {{! Styles }}
  <link rel="stylesheet" type="text/css" href="{{asset "css/irb.rocks.min.css"}}" />
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:300,700,400|PT+Serif" />
  <link rel="stylesheet" type="text/css" href="{{asset "css/zenburn.css"}}" />

  {{! Scripts }}
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="{{asset "js/highlight.pack.js"}}"></script>

  {{! Ghost outputs important style and meta data with this tag }}
  {{ghost_head}}
</head>
<body class="{{body_class}} nav-closed">
  <header class="clearfix">
    {{#if @blog.logo}}
      <div class="blog-logo">
        <a href="{{@blog.url}}">
          <img src="{{@blog.logo}}" alt="{{@blog.title}}" />
        </a>
      </div>
    {{/if}}
    <div class="blog-info">
      <h1 class="blog-title"><a href="{{@blog.url}}">{{@blog.title}}</a></h1>
      <h2 class="blog-description">{{@blog.description}}</h2>
    </div>
    {{navigation}}
  </header>
  <div class="wrapper">
    {{! Everything else gets inserted here }}
    {{{body}}}

    {{! Load footer }}
    {{> "footer"}}
  </div>

  {{! Ghost outputs important scripts and data with this tag }}
  {{ghost_foot}}

  {{! The main JavaScript file }}
  <script type="text/javascript" src="{{asset "js/irb.rocks.js"}}"></script>
  <script type="text/javascript">hljs.initHighlightingOnLoad();</script>
</body>
</html>